.star-rating{
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: rgb(119, 111, 0);
  }
  .off {
    color: #ccc;
  }
  .star {
    font-size: 3rem;
  }
}
